@font-face {
  font-family: "Shrikhand";
  src: url("../Shrikhand-Regular.otf");
}
@font-face {
  font-family: "roboto";
  src: url("../roboto/Roboto-Regular.ttf");
}
* {
  font-family: "roboto";
  margin: 0;
  padding: 0;
}

:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

@keyframes spin {
  0% {
    transform: scale(0.2) translateY(0);
  }
  50% {
    transform: scale(0.6) translateY(10%);
  }
  100% {
    transform: scale(0.2) translateY(0%);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
/*
body :not(.spinner) {
    animation: loader 3s alternate-reverse;
}*/
.spinner {
  animation: loader 50ms both 3000ms;
  position: fixed;
  top: 10em;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  height: auto;
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: #ededed 0.2em solid;
  border-radius: 1em;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  background: white;
  overflow: hidden;
}
.spinner__title {
  flex-basis: 100%;
  padding: 1em;
  font-family: Shrikhand;
  font-size: 2em;
  letter-spacing: 1px;
}
@media (min-width: 720px) {
  .spinner__title {
    font-size: 3em;
  }
}
.spinner__ball-1 {
  animation: spin 1500ms ease-in-out backwards;
  background-color: #9356DC;
  width: 4em;
  height: 4em;
  border-radius: 2em;
}
@media (min-width: 720px) {
  .spinner__ball-1 {
    width: 6em;
    height: 6em;
    border-radius: 3em;
  }
}
.spinner__ball-2 {
  animation: spin 1500ms ease-in-out backwards;
  animation-delay: 500ms;
  background-color: #FF79DA;
  width: 4em;
  height: 4em;
  border-radius: 2em;
}
@media (min-width: 720px) {
  .spinner__ball-2 {
    width: 6em;
    height: 6em;
    border-radius: 3em;
  }
}
.spinner__ball-3 {
  animation: spin 1500ms ease-in-out backwards;
  background-color: #99E2D0;
  animation-delay: 1000ms;
  width: 4em;
  height: 4em;
  border-radius: 2em;
}
@media (min-width: 1024px) {
  .spinner__ball-3 {
    width: 6em;
    height: 6em;
    border-radius: 3em;
  }
}

header {
  text-align: center;
}
header .logo {
  padding: 1rem;
  font-family: Shrikhand;
  font-size: 2em;
  letter-spacing: 1px;
}

.nav {
  text-align: center;
}
.nav__localisation {
  background-color: #d9d9d9;
  font-weight: bold;
  color: black;
}
.nav__localisation i {
  padding: 1rem;
}
.nav__title {
  font-weight: bold;
}
.nav__intro {
  background-color: #ededed;
  padding: 2rem;
}
.nav__descr {
  padding: 2rem;
  opacity: 50%;
}
.nav__button {
  background: linear-gradient(350deg, #9356dc 19%, #ff79da 100%);
  color: white;
  border-radius: 2rem;
  font-size: 1rem;
  padding: 0.8rem;
  border: 0px;
  cursor: pointer;
  transition: transform 400ms;
  transform: scale(1);
}
.nav__button:hover {
  transform: scale(1.2);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.choices {
  margin-top: 1.5em;
}
@media (min-width: 1024px) {
  .choices {
    display: flex;
    flex-wrap: wrap;
  }
}
.choices__title {
  font-weight: bold;
  padding-left: 0.7em;
}
@media (min-width: 1024px) {
  .choices__title {
    flex-basis: 100%;
  }
}
.choices i {
  padding-right: 1.5em;
  color: #545454;
  opacity: 80%;
}
.choices__card {
  width: 16em;
  display: flex;
  background-color: #ededed;
  padding: 1.5rem;
  margin: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0.3rem 0.3rem 0.3rem #d9d9d9;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.choices__card:hover {
  transform: scale(1.02);
  transition: transform 350ms, background-color 300ms 200ms, box-shadow 250ms 150ms;
  background-color: #e8dff2;
  backface-visibility: hidden;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.choices__card:hover i {
  color: #9356DC;
}
.choices__card-descr {
  font-weight: bold;
}
.choices__card-number {
  background-color: #9356DC;
  border-radius: 4rem;
  width: 20px;
  color: white;
  text-align: center;
  position: relative;
  left: -2em;
  padding: 0.1em;
}

@keyframes slow-card {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
  }
}
.restaurant {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  background-color: #ededed;
  padding: 1rem;
}
@media screen and (min-width: 720px) {
  .restaurant {
    flex-direction: row;
    justify-content: space-around;
  }
}
.restaurant__heart-full {
  visibility: hidden;
}
.restaurant__title {
  padding-left: 0.7em;
}
@media screen and (min-width: 720px) {
  .restaurant__title {
    flex-basis: 100%;
  }
}
.restaurant span {
  position: absolute;
  top: 7px;
  right: 1em;
  padding: 0.4em;
  background: #99E2D0;
  font-weight: bold;
  color: #278870;
  border-radius: 0.2em;
}
@media (min-width: 1024px) {
  .restaurant span {
    top: 20px;
    font-size: 1.2em;
  }
}
.restaurant__card {
  animation: slow-card 1500ms backwards;
  border-radius: 1rem;
  margin: 1rem;
  background-color: white;
  width: 90%;
  position: relative;
}
@media (min-width: 720px) {
  .restaurant__card {
    max-width: 310px;
  }
}
@media (min-width: 1024px) {
  .restaurant__card {
    max-width: 400px;
  }
}
.restaurant__card i {
  position: absolute;
  top: 75%;
  right: 1em;
  font-size: 25px;
}
@media (min-width: 1024px) {
  .restaurant__card i {
    top: 86%;
  }
}
.restaurant__card i:hover {
  animation: like 1100ms ease-in forwards;
  font-weight: bold;
  visibility: visible;
}
.restaurant__card-title {
  font-weight: bold;
  padding: 0.3rem;
}
.restaurant__card-descr {
  padding: 0.3rem;
  padding-bottom: 0.6em;
}
@keyframes like {
  5% {
    opacity: 0;
    color: #9356DC;
  }
  80% {
    transform: scale(1);
  }
  90% {
    opacity: 1;
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
    color: #FF79DA;
  }
}
.restaurant__photo {
  width: 100%;
  height: 130px;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .restaurant__photo {
    height: 250px;
  }
}

.footer {
  background-color: #353535;
  color: white;
  padding: 2rem;
}
@media (min-width: 1024px) {
  .footer {
    display: flex;
    justify-content: space-evenly;
  }
}
@media (min-width: 720px) and (max-width: 1024px) {
  .footer {
    text-align: center;
    margin: 1em;
  }
}
.footer__title {
  font-family: "Shrikhand";
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .footer__title {
    font-size: 1.5rem;
  }
}
.footer__liste {
  list-style: none;
}
@media (min-width: 1024px) {
  .footer__liste {
    display: flex;
  }
}
.footer__liste_element {
  margin: 0.5rem;
  cursor: pointer;
}
.footer__liste_element:hover {
  color: #99E2D0;
  font-style: italic;
}
@media (min-width: 1024px) {
  .footer__liste_element {
    margin-left: 4rem;
  }
}
.footer__liste_element i {
  width: 1.5em;
}
.footer__liste_element a {
  color: white;
}
.footer__liste_element a:hover {
  color: #99E2D0;
}
.footer__liste_element a:visited {
  color: white;
}

/*# sourceMappingURL=style.css.map */
