@font-face {
    font-family: "Shrikhand";
    src: url("../Shrikhand-Regular.otf");
}
@font-face {
    font-family: "roboto";
    src: url("../roboto/Roboto-Regular.ttf");
}
* {
    font-family: "roboto";
    margin: 0;
    padding: 0;
}
:link {
    text-decoration: none;
    color:black;
}
a:visited {color:black;}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg:#ededed;
$color-bg-light:lighten(#ededed, 3%);
$dark-color-bg:darken(#ededed,8%);
$very-dark-color-bg:darken($color-bg, 60%);
$color-tertiary-dark:darken($color-tertiary,40%);
$min-tablet:720px;
$max-tablet:1024px;
$size:4em;
$size-desktop:6em;

@mixin size-ball {
    width: $size;
    height: $size;
    border-radius: $size /2;
}
@mixin size-ball-desktop {
    width: $size-desktop;
    height: $size-desktop;
    border-radius: $size-desktop /2;
}
@keyframes spin{
    0%{
        transform: scale(0.2) translateY(0) ;
    }
    50%{
        transform: scale(0.6) translateY(10%);
    }
    100%{
        transform: scale(0.2) translateY(0%);
         
    }
}

@keyframes hidden{
    0%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        height: 100%;
        
    }
}

@keyframes loader {
    100% {
      z-index: -10;
      opacity: 0;
    }
  }
.container {
    visibility: visible;
    animation: hidden 3.5s ;
}

.spinner{
    animation: loader 50ms both 3000ms;
    position: fixed;
    top: 8em;
    z-index: 999;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    padding-top:2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border:$dark-color-bg 0.2em solid;
    border-radius: 1em;
    flex-wrap: wrap;
    background: white;
    
    &__title{
        flex-basis: 100%;
        padding:1em;
        font-family: Shrikhand;
        font-size: 2em;
        letter-spacing: 1px;
        text-align: center;
        @media (min-width:$min-tablet) {
            font-size: 3em;
        }
    }
    &__ball-1{
        animation: spin 1500ms ease-in-out backwards;
        background-color: $color-primary;
        @include size-ball;
        @media (min-width:$min-tablet){
            @include size-ball-desktop;
        }
    }
    &__ball-2{
        animation: spin 1500ms ease-in-out backwards;
        animation-delay:500ms;
        background-color: $color-secondary;
        @include size-ball;
        @media (min-width:$min-tablet){
            @include size-ball-desktop;
        }
    }
    &__ball-3{
        animation: spin 1500ms ease-in-out backwards;
        background-color: $color-tertiary;
        animation-delay:1000ms;
        @include size-ball;
        @media (min-width:$min-tablet){
            @include size-ball-desktop;
        }
    }
}
header{
    text-align: center;
        .logo{
            padding:1rem;
            font-family: Shrikhand;
            font-size: 2em;
            letter-spacing: 1px;
        }
}
.nav{
    text-align: center;
        &__localisation{
            background-color: $dark-color-bg;        
            font-weight: bold;
            color:black;                       
            i {
                padding:1rem;
            }
        }
        &__title{
            font-weight: bold;
        }
        &__intro{
            background-color: $color-bg;
            padding: 2rem;
        }
        &__descr{
            padding: 2rem;
            opacity: 50%;
        }
        &__button{
            background: linear-gradient(350deg, rgba(147,86,220,1) 19%, rgba(255,121,218,1) 100%);
            color:white;
            border-radius: 2rem;
            font-size: 1rem;
            padding:0.8rem;
            border:0px;
            cursor: pointer;
            transition: transform 400ms;
            transform:scale(1) ;
            
            &:hover{
                transform:scale(1.1);
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                
            }
        }
    }
.choices {
     margin-top:1.5em;
        @media (min-width:$max-tablet) {
            display:flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    &__title{
        font-weight: bold;
        padding-left: 0.7em;
            @media (min-width:$max-tablet){
                flex-basis: 100%;
            }
    }
    i {
        padding-right: 1.5em;
        color: $very-dark-color-bg;
        opacity: 80%;
    } 
    &__card{
        display: flex;
        background-color:$color-bg;
        padding:1.5rem;
        margin:1.5rem;
        border-radius: 1.5rem;
        box-shadow: 0.3rem 0.3rem 0.3rem $dark-color-bg; 
        cursor: pointer;
        &:hover {
            transform: scale(1.02);
            transition: transform 350ms, background-color 300ms 200ms , box-shadow 250ms 150ms;
            background-color: #e8dff2;
            backface-visibility: hidden;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
            i {
                color:$color-primary;
            }
        }
        &-descr {
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &-number {
            background-color: $color-primary;
            border-radius: 4rem;
            width: 20px;
            min-width: 20px;
            color:white;
            text-align: center;
            position: relative;
            left:-2em;
            padding: 0.1em;
        }
    }
}

.restaurant{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:center;
    background-color: $color-bg;
    padding:1rem;
        @media screen and (min-width:$min-tablet) {
            flex-direction:row;
            justify-content: space-around;
        }

    &__title{
        padding-left: 0.7em;
            @media screen and (min-width:$min-tablet)  {
                flex-basis: 100%;
            }
    }
    span {
        position: absolute;
        top:7px;
        right:1em;
        padding:0.4em;
        background: $color-tertiary;
        font-weight: bold;
        color:$color-tertiary-dark;
        border-radius: 0.2em;
        @media (min-width:$max-tablet) {
            top:20px;
            font-size:1.2em;
        }
    }
    &__card{
        border-radius: 1rem;
        margin:1rem;
        background-color: #fff;
        width: 90%;
        position: relative;
        overflow: hidden;
        transform: scale(1);
        transition: all 0.3s ease-in-out;
        &:hover{
            transform: scale(1.05);
            border: $very-dark-color-bg 1px solid;
            box-shadow: 10px 12px 16px -7px rgba(0,0,0,0.75);
        }
        @media (min-width: $min-tablet){
            max-width: 310px;
        }
        @media (min-width:$max-tablet) {
            max-width: 400px;
        }
        
        i {
            position:absolute;
            top:75%;
            right: 1em;
            font-size:25px;
            @media (min-width:$max-tablet) {
                top: 86%;
            }
            &:hover{
                animation: like 1100ms both;
                font-weight: bold;              
                }
        }
        
        &-title {
            font-weight: bold;
            padding: 0.3rem;
        }
        &-descr {
            padding:0.3rem;
            padding-bottom: 0.6em;
        }
    }
    @keyframes like{
        0%{
            opacity: 0;
            color:$color-primary;
        }
        80%{
            transform: scale(1);
        }
        90%{
            opacity: 1;
            transform: scale(1.4);
        }
        100%{
            transform: scale(1);
            color: $color-secondary;
        }
    }
    &__photo{
        width: 100%;
        height: 130px;
        object-fit: cover;
        @media (min-width:$max-tablet){
            height:250px;
        }
    }
}
.footer{
    background-color: #353535;
    color:white;
    padding: 2rem;
        @media (min-width:$max-tablet) {
            display: flex;
            justify-content: space-evenly;
        }
        @media (min-width:$min-tablet) and (max-width:$max-tablet){
            text-align: center;
            margin: 1em;
        }
    &__title{
    font-family:"Shrikhand";
    padding-bottom: 0.5rem;
        @media screen and (min-width:$max-tablet) {
            font-size: 1.5rem;
        }
    }
    &__liste{
        list-style: none;
        @media (min-width:$max-tablet) {
            display: flex;
        }
        &_element{
            margin:0.5rem;
            cursor: pointer;
            &:hover{
                color:$color-tertiary;
                font-style:italic ;
            }
            @media (min-width:$max-tablet) {
                margin-left:4rem;       
            }
            i {
                width: 1.5em;
            }
            a {
                color: white;
                text-decoration: none;
                &:hover{
                    color:$color-tertiary
                }
            }
            & a:visited {
            color:white;}
        }
    }
}