@font-face {
    font-family: "Shrikhand";
    src: url("../Shrikhand-Regular.otf");
}
@font-face {
    font-family: "roboto";
    src: url("../roboto/Roboto-Regular.ttf");
}
* {
    font-family: "roboto";
    margin: 0;
    padding: 0;
}

$color-tertiary: #99E2D0;
$color-bg:#ededed;
$min-tablet:720px;
$max-tablet:1024px;

header{
    display: flex;
    i {
        position: absolute;
        top:25px;
        left:1em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        font-size:1.3em;
        cursor: pointer;
        transition: transform 200ms ease-in-out;
    }
    a:hover {
        color:$color-tertiary;
        transform:translateX(-15px) ;
    }
    a:active{
        color:$color-tertiary;
    }
        .logo{
            padding:1rem;
            font-family: Shrikhand;
            font-size: 2em;
            margin-left: auto;
            margin-right: auto;
            letter-spacing: 1px;

        }
}
.picture {
    width: 100%;
    object-fit: cover;
    @media (min-width:$min-tablet){
        height: 320px;
    }
}
@keyframes slow-card{
    from{
        opacity: 0;
        transform: translateY(-1rem);
    }
    to{
        opacity: 1;
        
    }
}
main{
    background: $color-bg;
    border-radius: 2em 2em 0 0;
    position: relative;
    top: -4em;   
    
    H2{
        font-family: Shrikhand;
        padding:1em;
        display: flex;
        justify-content: center;
        i {
            margin-left: 1em;
        }
    }
    .btn{
        display: flex;
        justify-content: center;
        margin-bottom: -4em;
        input {
            background: linear-gradient(350deg, rgba(147,86,220,1) 19%, rgba(255,121,218,1) 100%);
            color:white;
            border-radius: 2rem;
            font-size: 1rem;
            padding:0.8rem;
            border:0px;
            margin-bottom: 1em;
            padding-right: 2.5em;
            padding-left: 2.5em;
            cursor: pointer;
        }
    }
}
@for $i from 1 through 3{
    .menu-#{$i} {
        animation: slow-card 1500ms backwards;
    }
}
@mixin border {
    border-bottom:0.2em solid $color-tertiary;
    width:3em;
    margin-left: 1.2em;
    margin-top: 0.2em;
}
@mixin menu-title{
    padding-left: 1em;
    opacity: 50%;
    text-transform: uppercase;
}
@mixin card {
    background: white;
    margin:1em;
    border-radius: 1em;
    padding:0.7em;
}

.menu{

    &-border {
        @include border;
        }
    &-1{
        padding: 0.5em;
        H3{
            @include menu-title;
        }
    }       
    &-2{
        animation-delay: 500ms;
        padding: 0.5em;
        H3{
            @include menu-title;
        }
    }
    &-3{
        animation-delay: 1000ms;
        padding: 0.5em;
        H3{
            @include menu-title;
        }
    }
    &-check{
        position: absolute;
        right:-70px;
        top:0;
        display: flex;
        justify-content: center;
        width: 4.4em;
        height: 4.4em;
        visibility: hidden;
        background-color: $color-tertiary;
        transform: translateX(-2);
        transition: all 1s ease-in-out;

        i{
            color: white;
            background-color: $color-tertiary;
            align-self: center;
            font-size: x-large;
            transition: transform 1s;
            &:hover{
                transform: rotate(1turn);
            }
        }
    }
    &-item { 
        cursor: pointer;
        @include card;
        position: relative;
        overflow: hidden;
        &:hover > .menu-check{
            transform: translateX(0);
            visibility: visible;
            margin-right: 4.4em;
            .menu-check > i {
                transform: rotate(0turn);
            }
        }
    } 
    &-name {
        font-weight: bold;
        font-size: 1.2em;
        padding-bottom:0.3em;
    }
    &-descr{            
        opacity: 0.8;
    }
    &-price{
        font-weight: bold;
        position: absolute;
        right:3em;
        font-size:1.2em;
    }
}
.footer{
    background-color: #353535;
    color:white;
    padding: 2rem;
        @media (min-width:$max-tablet) {
            display: flex;
            justify-content: space-evenly;
        }
        @media (min-width:$min-tablet) and (max-width:$max-tablet){
            text-align: center;
            margin: 1em;
        }
    &__title{
    font-family:"Shrikhand";
    padding-bottom: 0.5rem;
        @media screen and (min-width:$max-tablet) {
            font-size: 1.5rem;
        }
    }
    &__liste{
        list-style: none;
        @media (min-width:$max-tablet) {
            display: flex;
        }
        &_element{
            margin:0.5rem;
            cursor: pointer;
            &:hover{
                color:$color-tertiary;
                font-style:italic ;
            }
            @media (min-width:$max-tablet) {
                padding:0;
                padding-left: 4rem;           
            }
            i {
                width: 1.5em;
            }
            a {
                color:white;
                text-decoration: none;
                &:hover{
                    color:$color-tertiary
                }
            }
            a:visited {
            color:white;}
        }
    }
}