@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";


@import "./pages/work";
@import "./pages/about";
@import "./pages/project";

$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary: #99E2D0;
p {
    color:$color-primary;
}
btn:hover {color:$color-primary;}